<!DOCTYPE html>
<html lang="en" data-theme="{{ theme }}" data-is-system-theme="{{ isSystemTheme }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
  </head>
  <body>
    <rapi-doc
      id="rapi-doc"
      spec-url="{{ url }}"
      theme="{{ theme }}"
      render-style="view"
      show-header="false"
    />
    <script>
      const isResponsive = "{{ layout }}" === "responsive";
      const isDesktop = "{{ layout }}" === "desktop";
      const isMobile = "{{ layout }}" === "mobile";

      const desktopLayout = "focused";
      const mobileLayout = "view";

      const $rapidoc = document.querySelector('#rapi-doc');

      function throttle(fn, delay) {
        let lastCall = 0;
        return function (...args) {
          const now = (new Date).getTime();
          if (now - lastCall < delay) {
            return;
          }
          lastCall = now;
          return fn(...args);
        }
      }

      function updateLayout() {
        $rapidoc.renderStyle = window.innerWidth >= 1200 ? desktopLayout : mobileLayout;
      }

      let trottledUpdateLayout = throttle(updateLayout, 250);

      if (isResponsive) {
        window.addEventListener('resize', trottledUpdateLayout);
        updateLayout();
      } else if (isDesktop) {
        $rapidoc.renderStyle = desktopLayout;
      } else {
        $rapidoc.renderStyle = mobileLayout;
      }
    </script>
  </body>
</html>
